<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirige todo lo que no sea un archivo o directorio existente a index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
